/* ========= スマホサイズ_1 =========== */
@media (min-width: 280px) {
  .thumbnail-image {
    padding: 30px 0 10px 0;
  }

  .thumbnail-image img {
    max-width: 180px;
    max-height: 180px
  }
}

/* ========= スマホサイズ_2 =========== */
@media (min-width: 576px) {
  .thumbnail-image {
    padding: 30px 0 10px 0;
  }

  .thumbnail-image img {
    max-width: 240px;
    max-height: 240px
  }
}

/* ========= タブレットサイズ =========== */
@media (min-width: 768px) {
  .thumbnail-image {
    display: flex;
    padding: 50px 10px 50px 0;
    justify-content: right;
  }


  .thumbnail-image img {
    max-width: 280px;
    max-height: 280px
  }
}

/* ========= PCサイズ =========== */
@media (min-width: 992px) {
  .thumbnail-image {
    display: flex;
    padding: 50px 20px 50px 0;
    justify-content: right;
  }

  .thumbnail-image img {
    max-width: 320px;
    max-height: 320px
  }
}

/* ========= PCサイズ_2 =========== */
@media (min-width: 1120px) {
  .thumbnail-image {
    display: flex;
    padding: 50px 30px 50px 0;
    justify-content: right;
  }

  .thumbnail-image img {
    max-width: 320px;
    max-height: 320px
  }
}
