.thumbnail-image {
  padding: 50px 0 20px 0;
}

/* ========= スマホサイズ =========== */
@media (min-width: 280px) {
  .thumbnail-image img {
    max-width: 180px;
    max-height: 180px
  }
}

/* ========= タブレットサイズ =========== */
@media (min-width: 576px) {
  .thumbnail-image img {
    max-width: 240px;
    max-height: 240px
  }
}

/* ========= PCサイズ =========== */
@media (min-width: 768px) {
  .thumbnail-image img {
    max-width: 320px;
    max-height: 320px
  }
}
