.works {
  background-color: #FEACAE;
  padding: 50px 0;
}

.works p {
  color: white;
}

.works_title {
  border-bottom: solid 8px white;
  color: white;
  margin: 0 auto;
}

.works_content:hover {
  background-color: white;
  transition: background-color 0.3s ease-in-out;
}

.works_content:hover p {
  color: #FEACAE;
  transition: color 0.3s ease-in-out;
}

/* ========= スマホサイズ_1 =========== */
@media (min-width: 280px) {
  .works_title {
    font-size: 36px;
    max-width: 50%;
    margin-bottom: 30px;
  }

  .works {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .works_content {
    padding: 20px;
    margin: 20px;
    height: 100%;
    max-width: 100%;
    border: 0.1rem solid white;
    border-radius: 30px;
  }

  .works_content a {
    display: flex;
    gap: 1rem;
    align-items: center;
  }

  .works_content img {
    border-radius: 20px;
    max-width: 25%;
  }

  .works_content p {
    text-align: left;
    font-weight: bold;
    font-size: 18px;
  }

  .works_content-description {
    font-size: 14px;
  }
}

/* ========= スマホサイズ_2 =========== */
@media (min-width: 576px) {
  .works_title {
    font-size: 42px;
    max-width: 40%;
    margin-bottom: 40px;
  }

  .works {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .works_content {
    padding: 20px;
    margin: 20px;
    height: 100%;
    max-width: 80%;
    border: 0.1rem solid white;
    border-radius: 30px;
  }

  .works_content a {
    display: flex;
    gap: 1rem;
    align-items: center;
  }

  .works_content img {
    border-radius: 20px;
    max-width: 20%;
  }

  .works_content p {
    text-align: left;
    font-weight: bold;
    font-size: 24px;
  }

  .works_content-description {
    font-size: 14px;
  }
}

/* ========= タブレットサイズ =========== */
@media (min-width: 768px) {
  .works_title {
    font-size: 48px;
    max-width: 30%;
    margin-bottom: 50px;
  }

  .works {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .works_content {
    padding: 20px;
    margin: 20px;
    height: 100%;
    max-width: 600px;
    border: 0.1rem solid white;
    border-radius: 30px;
  }

  .works_content a {
    display: flex;
    gap: 1rem;
    align-items: center;
  }

  .works_content img {
    border-radius: 20px;
    max-width: 20%;
  }

  .works_content p {
    text-align: left;
    font-weight: bold;
    font-size: 24px;
  }

  .works_content-description {
    font-size: 14px;
  }
}

/* ========= PCサイズ =========== */
@media (min-width: 992px) {
  .works_title {
    font-size: 48px;
    max-width: 30%;
    margin-bottom: 70px;
  }

  .works {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .works_content {
    padding: 20px;
    margin: 20px;
    height: 100%;
    max-width: 650px;
    border: 0.1rem solid white;
    border-radius: 30px;
  }

  .works_content a {
    display: flex;
    gap: 1rem;
    align-items: center;
  }

  .works_content img {
    border-radius: 20px;
    max-width: 20%;
  }

  .works_content p {
    text-align: left;
    font-weight: bold;
    font-size: 24px;
  }

  .works_content-description {
    font-size: 14px;
  }

}