.profile {
  background-color: white;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: auto;
}

.profile-description {
  padding-bottom: 50px;
  color: #FEACAE;
}

.name-and-sns {
  display: flex;
}

.sns {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.youtube-icon {
  color: red;
}

.profile-details p {
  white-space: pre-line;
  text-align: center;
}

.profile-title {
  border-bottom: solid 8px #FEACAE;
  color: #FEACAE;
}

/* ========= スマホサイズ_1 =========== */
@media (min-width: 280px) {
  .profile-title {
    grid-column-start: 1;
    grid-column-end: 5;
    font-size: 36px;
    max-width: 50%;
  }

  .thumbnail-image {
    grid-column-start: 1;
    grid-column-end: 5;
  }

  .profile-description {
    grid-column-start: 1;
    grid-column-end: 5;
  }

  .thumbnail-image source {
    max-width: 300px;
    max-height: auto;
  }

  .thumbnail-image img {
    max-width: 300px;
    max-height: auto;
  }

  .name {
    font-size: 36px;
  }

  .profile-details p {
    font-size: 18px;
  }

  .sns img {
    display: flex;
    align-items: center;
    max-width: 40px;
    max-height: 40px;
    padding: 20px;
  }

  .youtube-icon {
    padding: 20px;
    font-size: 40px;
  }
}

/* ========= スマホサイズ_2 =========== */
@media (min-width: 576px) {
  .thumbnail-image source {
    max-width: 450px;
    max-height: auto;
  }

  .thumbnail-image img {
    max-width: 450px;
    max-height: auto;
  }

  .name {
    font-size: 40px;
  }

  .profile-details p {
    font-size: 18px;
  }

  .sns img {
    max-width: 50px;
    max-height: 50px;
  }

  .youtube-icon {
    font-size: 50px;
  }
}

/* ========= タブレットサイズ =========== */
@media (min-width: 768px) {
  .profile-title {
    grid-column-start: 1;
    grid-column-end: 5;
    font-size: 40px;
    max-width: 30%;
  }

  .thumbnail-image {
    grid-column-start: 1;
    grid-column-end: 3;
  }

  .profile-description {
    grid-column-start: 3;
    grid-column-end: 5;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .name {
    font-size: 40px;
  }

  .profile-details p {
    font-size: 18px;
  }

  .sns img {
    max-width: 50px;
    max-height: 50px;
  }

  .youtube-icon {
    font-size: 50px;
  }
}

/* ========= PCサイズ =========== */
@media (min-width: 992px) {
  .profile {
    padding: 0 5%;
  }

  .name {
    font-size: 52px;
  }

  .profile-details p {
    font-size: 20px;
  }
}

/* ========= PCサイズ2 =========== */
@media (min-width: 1120px) {
  .profile {
    padding: 0 15%;
  }
}
