.contents {
  background-color: #E89A8A;
}

.contents p {
  color: white;
}

.contents .content-title {
  border-bottom: solid 8px white;
  color: white;
  margin-left: auto;
  margin-right: auto;
}

.contents .link-button {
  background-color: white;
  color: #E89A8A;
  padding: 10px 20px 10px 20px;
  border-radius: 20px;
  font-weight: bold;
}

.contents .content picture {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* ========= スマホサイズ_1 =========== */
@media (min-width: 280px) {
  .contents {
    padding-bottom: 80px;
  }

  .contents .content-title {
    padding: 80px 0 0 0;
    font-size: 24pt;
    max-width: 50%;
  }

  .contents .content-title p {
    border-bottom: solid 6px white;
    max-width: 40%;
    font-size: 24pt;
  }

  .content img {
    padding: 30px 0 10px 0;
    max-width: 180px;
    max-height: 180px
  }

  .content source {
    padding: 30px 0 10px 0;
    max-width: 180px;
    max-height: 180px
  }

  .content-description {
    padding: 0 20px 20px 20px;
  }

  .content-description .content-description-title {
    padding: 10px 0 10px 0;
    font-size: 18pt;
  }

  .content-description .content-description-detail {
    padding: 10px 0 10px 0;
    font-size: 11pt;
  }

  .link {
    padding: 20px 0 20px 0;
  }
}

/* ========= スマホサイズ_2 =========== */
@media (min-width: 576px) {
  .contents {
    padding-bottom: 100px;
  }

  .contents .content-title {
    padding: 100px 0 0 0;
    font-size: 30pt;
    max-width: 40%;
  }

  .contents .content-title p {
    border-bottom: solid 6px white;
    max-width: 50%;
    font-size: 30pt;
  }

  .content-description {
    padding: 0 80px 50px 80px;
  }

  .content-description .content-description-title {
    padding: 10px 0 10px 0;
    font-size: 24pt;
  }

  .content-description .content-description-detail {
    padding: 10px 0 10px 0;
    font-size: 12pt;
  }

  .link {
    padding: 20px 0 20px 0;
  }
}

/* ========= タブレットサイズ =========== */
@media (min-width: 768px) {
  .contents {
    padding-bottom: 120px;
  }

  .contents .content-title {
    padding: 120px 0 0 0;
    font-size: 36pt;
    max-width: 40%;
  }

  .contents .content-title p {
    border-bottom: solid 10px white;
    max-width: 50%;
    font-size: 36pt;
  }

  .content img {
    padding: 30px 0 10px 0;
    max-width: 200px;
    max-height: 200px
  }

  .content source {
    padding: 30px 0 10px 0;
    max-width: 200px;
    max-height: 200px
  }

  .content-description {
    text-align: left;
    padding: 50px 30px 50px 10px;
  }

  .content-description .content-description-title {
    padding: 0 0 10px 0;
    font-size: 24pt;
  }

  .content-description .content-description-detail {
    padding: 10px 0 10px 0;
    font-size: 12pt;
  }

  .contents .content {
    display: grid;
    grid-template-columns: 8fr 16fr;
  }
}

/* ========= PCサイズ =========== */
@media (min-width: 992px) {
  .contents .content picture {
    padding-left: 80px;
  }

  .contents .content-title {
    padding: 120px 0 0 0;
    font-size: 36pt;
  }

  .contents .content-title p {
    border-bottom: solid 10px white;
    max-width: 50%;
    font-size: 36pt;
  }

  .contents .content {
    display: grid;
    grid-template-columns: 9fr 15fr;
  }

  .content-description {
    text-align: left;
    padding: 50px 100px 50px 10px;
  }

  .content-description .content-description-title {
    padding: 0 0 10px 0;
    font-size: 30pt;
  }

  .content-description .content-description-detail {
    padding: 10px 0 10px 0;
    font-size: 14pt;
  }
}

/* ========= PCサイズ_2 =========== */
@media (min-width: 1120px) {
  .contents .content picture {
    padding-left: 80px;
  }

  .content img {
    max-width: 240px;
    max-height: 240px
  }

  .content source {
    max-width: 240px;
    max-height: 240px
  }

  .content-description {
    text-align: left;
    padding: 50px 100px 50px 10px;
  }

}
