.profile-description {
  padding: 0 10px 30px 20px;
}

.name-and-sns a {
  display: flex;
  align-items: center;
}

/* ========= スマホサイズ =========== */
@media (min-width: 280px) {
  .name-and-sns p {
    font-size: 24pt;
  }

  .name-and-sns .anticon-twitter {
    font-size: 24pt;
    padding-left: 10px;
  }

  .profile-description .profile-details {
    font-size: 12pt;
  }
}

/* ========= タブレットサイズ =========== */
@media (min-width: 576px) {
  .name-and-sns p {
    font-size: 30pt;
  }

  .name-and-sns .anticon-twitter {
    font-size: 30pt;
    padding-left: 10px;
  }

  .profile-description .profile-details {
    font-size: 16pt;
  }
}

/* ========= PCサイズ =========== */
@media (min-width: 768px) {
  .name-and-sns p {
    font-size: 36pt;
  }

  .name-and-sns .anticon-twitter {
    font-size: 36pt;
    padding-left: 10px;
  }

  .profile-description .profile-details {
    font-size: 18pt;
  }
}
