.profile-description {
  padding: 0 10px 30px 20px;
  color: #E89A8A;
}

.name-and-sns {
  display: flex;
}

.profile-description .name-card-button {
  background-color: #E89A8A;
  color: white;
  padding: 10px 20px 10px 20px;
  border-radius: 20px;
}

.sns {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.youtube-icon {
  color: red;
}

/* ========= スマホサイズ_1 =========== */
@media (min-width: 280px) {
  .name-and-sns {
    justify-content: center;
    align-items: center;
  }

  .name-and-sns p {
    font-size: 24pt;
    padding-right: 6px;
  }

  .name-and-sns img {
    display: flex;
    align-items: center;
    max-width: 30px;
    max-height: 30px;
  }

  .name-and-sns {
    flex-direction: column;
  }

  .profile-description .profile-details p {
    font-size: 12pt;
  }

  .youtube-icon {
    padding: 5px 10px 0 10px;
    font-size: 22pt;
  }

  .name-card-link {
    padding: 20px 0 20px 0;
  }

  .name-card-button {
    font-size: 16pt;
  }
}

/* ========= スマホサイズ_2 =========== */
@media (min-width: 576px) {
  .name-and-sns p {
    font-size: 30pt;
    padding-right: 8px;
  }

  .name-and-sns img {
    display: flex;
    align-items: center;
    max-width: 40px;
    max-height: 40px;
    padding: 0 20px 0 20px;
  }

  .profile-description .profile-details p {
    font-size: 16pt;
  }

  .youtube-icon {
    padding: 5px 20px 0 20px;
    font-size: 30pt;
  }
}

/* ========= タブレットサイズ =========== */
@media (min-width: 768px) {
  .profile-description {
    padding: 50px 10px 50px 20px;
    text-align: left;
  }

  .name-and-sns {
    align-items: start;
    padding: 0 0 20px 0;
  }


  .name-and-sns p {
    font-size: 36pt;
    padding-right: 10px;
  }

  .sns img {
    padding-left: 10px;
  }

  .name-and-sns img {
    display: flex;
    align-items: center;
    max-width: 45px;
    max-height: 45px;
  }

  .profile-description .profile-details {
    text-align: left;
  }

  .profile-description .profile-details p {
    font-size: 12pt;
  }
}

/* ========= PCサイズ =========== */
@media (min-width: 992px) {
  .profile-description {
    padding: 50px 10px 50px 20px;
  }

  .name-and-sns {
    padding: 0 0 20px 0;
  }

  .name-and-sns p {
    font-size: 36pt;
  }

  .name-and-sns img {
    display: flex;
    align-items: center;
    max-width: 50px;
    max-height: 50px;
  }

  .youtube-icon {
    font-size: 40pt;
  }

  .profile-description .profile-details {
    text-align: left;
  }

  .profile-description .profile-details p {
    font-size: 15pt;
  }
}
