.profile-description {
  padding: 0 10px 30px 20px;
  color: #E89A8A;
}

.name-and-sns {
  display: flex;
}

.sns {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.youtube-icon {
  color: red;
}

.profile-details p {
  white-space: pre-line;
  text-align: center;
}

/* ========= スマホサイズ_1 =========== */
@media (min-width: 280px) {
  .name-and-sns {
    justify-content: center;
    align-items: center;
  }

  .name-and-sns p {
    font-size: 24pt;
    padding-right: 6px;
  }

  .name-and-sns {
    flex-direction: column;
  }

  .profile-details p {
    font-size: 18px;
  }

  .sns img {
    display: flex;
    align-items: center;
    max-width: 50px;
    max-height: 50px;
    padding: 20px;
  }

  .youtube-icon {
    padding: 20px;
    font-size: 50px;
  }
}

/* ========= スマホサイズ_2 =========== */
@media (min-width: 576px) {
  .name-and-sns p {
    font-size: 30pt;
    padding-right: 8px;
  }

  .profile-details p {
    font-size: 20px;
  }

  .sns img {
    max-width: 60px;
    max-height: 60px;
    padding: 30px;
  }

  .youtube-icon {
    font-size: 60px;
    padding: 30px;
  }
}

/* ========= タブレットサイズ =========== */
@media (min-width: 768px) {
  .profile-description {
    padding: 50px 10px 50px 20px;
    text-align: left;
  }

  .name-and-sns {
    align-items: start;
    padding: 0 0 20px 0;
  }


  .name-and-sns p {
    font-size: 36pt;
    padding-right: 10px;
  }

  .sns img {
    max-width: 70px;
    max-height: 70px;
  }

  .youtube-icon {
    font-size: 70px;
  }
}

/* ========= PCサイズ =========== */
@media (min-width: 992px) {
  .profile-description {
    padding: 50px 10px 50px 20px;
  }

  .name-and-sns {
    padding: 0 0 20px 0;
  }

  .name-and-sns p {
    font-size: 36pt;
  }

  .sns img {
    display: flex;
    align-items: center;
    max-width: 50px;
    max-height: 50px;
  }

  .youtube-icon {
    font-size: 40pt;
  }
}
