.title-bar {
  background-color: #E89A8A;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(25px + 2vmin);
  color: white;
  
  /* 背景画像や言語設定ボタンの位置を調節するため */
  position: relative;
}

.language-selection {
  display: flex;
}

.language-selection button {
  border-radius: 20px;
  font-weight: bold;
  border-width: 0.2em;
}

/* ========= スマホサイズ_1 =========== */
@media (min-width: 280px) {
  .language-selection {
    /* 言語設定ボタンの相対位置を設定 */
    position: absolute;
    /* 右上に固定 */
    top: 0;
    right: 10px;
  }
  .language-selection .language-selection-button {
    padding: 0 10px 0 10px;
  }

  .language-selection .language-selection-button button {
    font-size: 12pt;
  }

  .title-image {
    max-width: 80%;
  }
  .title-bar .background-image {
    /* 背景画像の相対位置を設定 */
    width: 120px;
    position: absolute;
    /* 左下に固定 */
    bottom: 0;
    left: 20px;
  }
}

/* ========= スマホサイズ_2 =========== */
@media (min-width: 576px) {
  .language-selection .language-selection-button {
    padding: 20px 20px 20px 20px;
  }

  .language-selection .language-selection-button button {
    font-size: 16pt;
  }

  .title-image {
    max-width: 80%;
  }
  .title-bar .background-image {
    /* 背景画像の相対位置を設定 */
    width: 120px;
    position: absolute;
    /* 左下に固定 */
    bottom: 0;
    left: 50px;
  }
}

/* ========= タブレットサイズ =========== */
@media (min-width: 768px) {
  .language-selection .language-selection-button button {
    font-size: 20pt;
    padding: 0 10px 0 10px;
  }

  .title-image {
    max-width: 70%;
  }

  .title-bar .background-image {
    /* 背景画像の相対位置を設定 */
    width: 130px;
    position: absolute;
    /* 左下に固定 */
    bottom: 0;
    left: 150px;
  }
}

/* ========= PCサイズ =========== */
@media (min-width: 992px) {
  .title-image {
    max-width: 60%;
  }
}

/* スクロールを促すアイコン */
.scroll {
  padding-top: 50px;
  color: white;
}

.scroll span {
  position: absolute;
  left: 50%;
  width: 50px;
  height: 50px;
  margin-left: -30px;
  border-left: 3px solid white;
  border-bottom: 3px solid white;
  transform: rotate(-45deg);
  animation: go-scroll 2s infinite;
  box-sizing: border-box;
}

/* 矢印を下に動かすアニメーション */
@keyframes go-scroll {
  0% {
    transform: rotate(-45deg) translate(0, 0);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: rotate(-45deg) translate(-20px, 20px);
    opacity: 0;
  }
}
