.footer {
  height: 5em;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
}

.footer p {
  font-size: 12pt;
  margin-bottom: 10px;
}

.footer a {
  color: blue;
}

.footer .privacy_policy {
  color: #808080;
  border-bottom: solid 2px #808080;
}
