.footer {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
}

.footer p {
  font-size: 12pt;
}

.footer a {
  color: blue;
}

.privacy-policy {
  color: #808080;
  border-bottom: solid 2px #808080;
  cursor: pointer;
}