.App {
  text-align: center;
}

.App p {
  margin: 0 0 0 0;
}

.App .profile-title {
  border-bottom: solid 8px #E89A8A;
}

/* ========= スマホサイズ =========== */
@media (min-width: 280px) {
  .App .profile-title {
    padding: 15px 0 0 0;
    font-size: 24pt;
    max-width: 50%;
  }
}

/* ========= タブレットサイズ =========== */
@media (min-width: 576px) {
  .App .profile-title {
    padding: 20px 0 0 0;
    font-size: 30pt;
    max-width: 40%;
  }
}

/* ========= PCサイズ =========== */
@media (min-width: 768px) {
  .App .profile-title {
    padding: 25px 0 0 0;
    font-size: 36pt;
    max-width: 30%;
  }
}
